<div class="[ container ]">
   <div class="[ cards ]">
    <div class="[ row ]">
       <section class="[ col-sm-4 ] ">
         <div class="[ cards__item ]">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
          <p class="[ cards__copy ]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa urna, porttitor id sem in, mattis lobortis ligula. Donec scelerisque pharetra neque. Aliquam cursus ultricies mattis.</p>
          <a href="#" class="[ btn btn-default center-block ] [ cards__btn ]">View</a>
         </div>
       </section>
       <section class="[ col-sm-4 ]">
          <div class="[ cards__item ]">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
          <p class="[ cards__copy ]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa urna, porttitor id sem in, mattis lobortis ligula. Donec scelerisque pharetra neque. Aliquam cursus ultricies mattis.</p>
          <a href="#" class="[ btn btn-default center-block ] [ cards__btn ]">View</a>
         </div>
       </section>
       <section class="[ col-sm-4 ]">
          <div class="[ cards__item ]">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
          <p class="[ cards__copy ]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa urna, porttitor id sem in, mattis lobortis ligula. Donec scelerisque pharetra neque. Aliquam cursus ultricies mattis.</p>
          <a href="#" class="[ btn btn-default center-block ] [ cards__btn ]">View</a>
         </div>
       </section>
    </div>
    <div class="[ row ]">
       <section class="[ col-sm-4 ]">
          <div class="[ cards__item ]">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
          <p class="[ cards__copy ]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa urna, porttitor id sem in, mattis lobortis ligula. Donec scelerisque pharetra neque. Aliquam cursus ultricies mattis.</p>
          <a href="#" class="[ btn btn-default center-block ] [ cards__btn ]">View</a>
         </div>
       </section>
       <section class="[ col-sm-4 ]">
         <div class="[ cards__item ]">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
          <p class="[ cards__copy ]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa urna, porttitor id sem in, mattis lobortis ligula. Donec scelerisque pharetra neque. Aliquam cursus ultricies mattis.</p>
          <a href="#" class="[ btn btn-default center-block ] [ cards__btn ]">View</a>
         </div>
       </section>
       <section class="[ col-sm-4 ]">
          <div class="[ cards__item ]">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
          <p class="[ cards__copy ]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa urna, porttitor id sem in, mattis lobortis ligula. Donec scelerisque pharetra neque. Aliquam cursus ultricies mattis.</p>
          <a href="#" class="[ btn btn-default center-block ] [ cards__btn ]">View</a>
         </div>
       </section>
    </div>
 </div>
 </div>