<div class="[ container ]">
    <div class="[ row ]">
       <section class="[ col-xs-12 ]">
          <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="[ contactform ]">

             <div class="[ form-group ]">
                <label for="inputName">Name</label>
                <input formControlName="name" class="[ form-control ] [ contactform__input ]" type="text" id="inputName" 
                   placeholder="Name">
                   <div *ngIf="submitted && messageForm.controls.name.errors" class="contactform__error">
                        <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
                   </div>
             </div>
             <div class="[ form-group ]">
                <label for="inputLastName">Lastname</label>
                <input formControlName="lastname" class="[ form-control ] [ contactform__input ]" type="text" id="inputLastName" 
                   placeholder="Lastname">
                   <div *ngIf="submitted && messageForm.controls.lastname.errors" class="contactform__error">
                        <div *ngIf="messageForm.controls.lastname.errors.required">Your lastname is required</div>
                    </div>
             </div>
             <div class="[ form-group ]">
                <label for="inputPhone">Phone</label>
                <input formControlName="phone" class="[ form-control ] [ contactform__input ]" type="number" id="inputPhone" 
                   placeholder="Phone">
                   <div *ngIf="submitted && messageForm.controls.phone.errors" class="contactform__error">
                        <div *ngIf="messageForm.controls.phone.errors.required">Your phone number is required</div>
                    </div>
             </div>
             <div class="[ form-group ]">
                <label for="inputEmail" class="contactform__label--green">Email</label>
                <input formControlName="email" class="[ form-control ] [ contactform__input ] [ contactform__input--email ]" type="email" id="inputEmail" 
                   placeholder="Email">
                   <div *ngIf="submitted && messageForm.controls.email.errors" class="contactform__error">
                        <div *ngIf="messageForm.controls.email.errors.required">Your email is required</div>
                    </div>
             </div>
               <div class="[ input-place ]">
                  <input class="[ btn btn-default] [ contactform__submit ]" type="submit" value="Contact Us">
               </div>
          </form>
         
          <h3 *ngIf="success">Valid!</h3>
          
       </section>
    </div>
 </div>