<div class="[ container content ]">
  <div class="[ row ]">
     <section class="[ col-sm-8 ]">
        <h1>Welcome to January Island Escapes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod a dolor ac feugiat. Nam iaculis, turpis nec convallis convallis, leo purus mattis eros, in efficitur eros libero quis odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec id enim in elit dapibus interdum. Donec feugiat sem et maximus lobortis. Proin id dui bibendum, maximus urna vel, lacinia augue. Nullam viverra pharetra nunc ut vulputate.</p>
        <p>Morbi nunc dui, lacinia et ligula et, auctor cursus risus. Nunc at neque quis nunc scelerisque rhoncus. Integer aliquet elit a augue varius, in iaculis magna consequat. Ut consequat nisl eget nisl maximus, in finibus nunc aliquet. Quisque laoreet iaculis ex eu mollis. Aliquam consectetur lectus in ipsum dapibus consectetur. Integer maximus dignissim maximus. Suspendisse dignissim massa eu mi sagittis blandit. In interdum risus vitae turpis maximus, vel iaculis massa lobortis.</p>
        <p>Suspendisse at risus ut urna pretium ullamcorper. Fusce eu ultricies turpis, at egestas ligula. Suspendisse nec posuere massa. In hac habitasse platea dictumst. Integer aliquet mauris nunc, sed lobortis tellus dignissim a. Duis a porta dui. Cras aliquam, elit in semper suscipit, elit nibh suscipit eros, nec volutpat arcu lorem at augue.</p>
     </section>
     <section class="[ col-sm-4 ]">
        <img src="assets/images/4%20col%20image.jpg" alt="lighthouse">
        <ul class="[ nav ] [ links ]">
           <li><a routerLink="/" class="[ links__item--text ]">Home</a></li>
           <li><a routerLink="/about" class="[ links__item--text ]">About</a></li>
           <li><a routerLink="/contact" class="[ links__item--text ]">Contact</a></li>
        </ul>
     </section>
  </div>
</div>